a {
	text-decoration: none;
}

a:hover {
	background: #fff;
}

.nav .menu-head .menu_level_1 {
	display: flex;
	list-style-type: none;
}

.nav .menu-head .menu_level_1 .item_1 {
	background: #ccc;
}



.nav .menu-head .menu_level_1 .item_1 .title {
	cursor: pointer;
}

.nav .menu-head .menu_level_1 .item_1 ul {
  margin: 0;
  padding-left: 20px;
  display: none;
  list-style-type: disc;
}

.nav .menu-head .menu_level_1 .item_1.open ul {
  display: block;
}

.nav .menu-head .menu_level_1 .item_1 .menu_level_2 {
	border: 2px solid #000;
}


.nav .menu-head .menu_level_1 .item_1 .menu_level_2 .lnk-collps {
	padding: 10px 20px;
	display: inline-block;
}

.nav .menu-head .menu_level_1 .item_1 .menu_level_2 .item_2 .menu_level_3 {
	list-style-type: none;
	padding-left: 0;
}

.nav .menu-head .menu_level_1 .item_1 .menu_level_2 .item_2 .menu_level_3 .item_3 {
	padding: 10px 20px 10px 0;
}

.nav .menu-head .menu_level_1 .item_1 .menu_level_2 .item_2 .menu_level_3 .item_3 a{
	padding: 10px 20px;
}