@import 'smart-grid.less';

.reset();

@font-face {
    font-family: 'Lato-Heavy';
    src: url('../fonts/PFDinTextCompPro-Light.ttf');
}

.heavy() {
	font-family: 'Lato-Heavy', sans-serif;
	font-weight: 600;
}

body {
	.heavy();
}

.wrapper {
	max-width: 1200px;
	width: 98%;
	margin: 0 auto; 
	display: flex;
	justify-content: space-between;
}

.header {
	background: url(../img/header_bg.png) top center no-repeat;
	background-size: cover;
	.button_right {
		p {
			color: #fff;
			font-size: 30px;
			float: left;
			order: 1;
		}
		justify-content: flex-end;
		h6 {
			color: #fff;
			font-size: 20px;
		}
		text-align: center;
		
		margin-top: 15px;
	}
	.wrapper {
		.button {
			margin-top: 40px;
			background: #f4a734;
			border-radius: 10px;
			text-align: center;
			padding: 10px 10px;
			order: 3;
			p {
				color: #2e5175;
				font-size: 16px;
			}
			h6 {
				margin-top: 3px;
				color: #f0efee;
				font-size: 20px;
			}
		}
	}
	.baner {
		display: flex;
		justify-content: center;
		flex-direction: column;
		.info {
			text-align: center;
			.col-12();
			.logo {
				width: 220px;
				margin: 0 auto;
				order: 0;
				
			}
			h3 {
				font-size: 26px;
				color: #f4a734;
				background: #29698f;
				opacity: 0.8;
    			display: inline-block;
    			padding: 10px 60px;
    			border-radius: 10px;
    			margin-top: 40px;
    			order: 4;
			}
			h1 {
				font-size: 60px;
				letter-spacing: 6px;
				color: #fff;
				margin-top: 40px;
				order: 2;
			}

		}
		.plays {
			display: flex;
			justify-content: center;
			.col-12();
			.play { 
				width: 50px;
				background: #fff;
				border-radius: 10px;
				opacity: 0.6;
				padding: 70px;
				margin: 30px 20px;
				order: 5;
				img {

				}

			}
		}
	}

	.welcome  {
		background: #000;
		opacity: 0.6;
		.wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				
				height: 100px;
				text-align: center;
				.section-header {
					color: #fff;
					font-size: 30px;

				}
			
		}
	}
}

.prem {
	background: url(../img/prem_bg.png) top -50px center no-repeat;
	background-size: cover;

	.block {
		
		
		
		.block-center {
			background: #6d7890;
			display: flex;
			margin-top: 50px;
			margin-bottom: 20px;
			img {
				width: 40px;
				height: 50px;
				position: relative;
    left: 118px;
    top: 20px;
			}
			.left {
				
				border: 3px solid #fff;
				padding: 10px;
				
				margin: 100px 0 275px 60px;
				p {
					font-size: 22px;
					color: #fff;
				}
			}
			h5 {
				font-size: 80px;
				color: #fff;
				position: relative;
    			right: -46px;
			}
			.right {
				color: #fff;
				border: 3px solid #fff;
				padding: 20px;
				font-size: 22px;
				margin: 100px 60px 275px 0;
			}
			.center {
				color: #f2a359;
				border: 3px solid #b2b5b8;
				padding: 20px;
				font-size: 22px;
				margin: 100px 50px 80px 50px;
			}
		}
		.col-6();
		
	}

	.footer {
		background: #000;
		opacity: 0.6;
		padding: 15px 0;
		text-align: center;
		h2 {
			color: #fff;
			font-size: 30px;
			text-transform: uppercase;
		}
		h3 {
			color: #fff;
		}
	}
}
